@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://csshake.surge.sh/csshake.min.css);

html,body {
  padding:0;
  margin:0;
  height: 100%;
  font-family: 'Amatic SC';
}

#root {
  height: 100%;
}

.light-switch {
  height: 300px;
  width: 170px;
  background-size: contain;
  background-repeat: no-repeat;
}

.light-switch.on {
  background-image: url("../images/lightswitchon.png");
}

.light-switch.off {
  background-image: url("../images/lightswitchoff.png");
}

.light-switch.off-grey {
  background-image: url("../images/lightswitchoffgrey.png");
}

.app {
  height: 100%;
}

.main {
  height: 100%;
  text-align: center;
}

.small-top {
  height: 5%;
  padding: 10px;
}

.top {
  height: 15%;
}

.big-top {
  height: 20%;
  margin: 30px;
  font-size: 72px;
}

.half-top {
  height: 40%;
  margin: 30px;
  font-size: 72px;
}

/* Make this responsive. Height should be 65% on mobile but 40% or 50% on desktop. */
.center-text {
  height: 65%;
  margin: 10% 15% 10% 15%;
  width: 70%;
  font-size: 48px;
}

.center-image {
  height: 50%;
  margin: 10% 15% 10% 15%;
}

@media(min-width: 801px) {
  .center-text {
    height: 40%;
    margin: 5% 15% 5% 15%;
  }
  
  .center-image {
    height: 40%;
    margin: 5% 15% 5% 15%;
  }
}

.image-page-top {
  height: 15%;
  margin: 20px;
  font-size: 72px;
  color: #41403E;
}

.welcome-text {
  height: 65%;
  margin: 20px;
  font-size: 72px;
}

.bottom {
  height: 20%;
}

.bottom button {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 40px;
  min-width: 50px;
}

button {
  align-self:center;
  background:transparent;
  padding:1rem 1rem;
  margin:0 1rem;
  transition:all .5s ease;
  color:#41403E;
  font-size:2rem;
  letter-spacing:1px;
  outline:none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 2px #41403E;
  font-family: 'Amatic SC';
  font-weight: bold;
  letter-spacing: 4px;
}